.ui-comment {
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid gray;
}
.ui-comments-add-form-wrapper {
	padding-top: 1em;
}
.ui-comment-author {
	font-weight: bold;
}
.ui-comment-date {
	text-align: right;
	font-size: small;
	float: right;
}
.ui-comment-admin {
	text-align: right;
	background: #eee;
}
