.user_submissions {
    text-align: right;
}
.category {
    padding-top: 20px;
    font-weight: bold;
    font-style: normal;
}
.answer {
    padding: 10px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
}

img.closeimage {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
	cursor: pointer;
	margin-right: 5px !important;
	float: right !important;
}